In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
file = pd.read_csv('utah_sales_20241203_201859.csv')
df = pd.DataFrame(file)

C:\Users\carson\AppData\Local\Temp\ipykernel_27644\2931859851.py:4: DtypeWarning: Columns (11,12,13,20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  file = pd.read_csv('utah_sales_20241203_201859.csv')

In [3]:
df.head()

,id,formattedAddress,addressLine1,addressLine2,city,state,zipCode,county,latitude,longitude,...,squareFootage,lotSize,yearBuilt,status,price,listedDate,removedDate,createdDate,lastSeenDate,daysOnMarket
0,"231-S-Virginia-St,-Kaysville,-UT-84037","231 S Virginia St, Kaysville, UT 84037",231 S Virginia St,NaN,Kaysville,UT,84037,Davis,41.031291,-111.934739,...,862.0,4792.0,1941.0,Inactive,360000,2024-01-05T00:00:00.000Z,2024-04-06T00:00:00.000Z,2023-12-08T00:00:00.000Z,2024-04-05T00:00:00.000Z,92.0
1,"3157-Monroe-Blvd,-Ogden,-UT-84403","3157 Monroe Blvd, Ogden, UT 84403",3157 Monroe Blvd,NaN,Ogden,UT,84403,Weber,41.206655,-111.959974,...,1750.0,4792.0,1941.0,Inactive,314999,2024-01-05T00:00:00.000Z,2024-04-06T00:00:00.000Z,2024-01-06T00:00:00.000Z,2024-04-05T00:00:00.000Z,92.0
2,"1988-Stone-Creek-Rd,-Unit-19,-Park-City,-UT-84098","1988 Stone Creek Rd, Unit 19, Park City, UT 84098",1988 Stone Creek Rd,Unit 19,Park City,UT,84098,Summit,40.683172,-111.549270,...,2082.0,NaN,2025.0,Inactive,2790000,2024-01-10T00:00:00.000Z,2024-04-06T00:00:00.000Z,2022-07-27T14:22:11.749Z,2024-04-05T00:00:00.000Z,87.0
3,"1990-Stone-Creek-Rd,-Unit-20,-Park-City,-UT-84098","1990 Stone Creek Rd, Unit 20, Park City, UT 84098",1990 Stone Creek Rd,Unit 20,Park City,UT,84098,Summit,40.683081,-111.549202,...,2533.0,NaN,2025.0,Inactive,3190000,2024-01-10T00:00:00.000Z,2024-04-06T00:00:00.000Z,2022-07-27T14:24:30.407Z,2024-04-05T00:00:00.000Z,87.0
4,"4398-N-2525-W,-Cedar-City,-UT-84721","4398 N 2525 W, Cedar City, UT 84721",4398 N 2525 W,NaN,Cedar City,UT,84721,Iron,37.757465,-113.097258,...,3000.0,21780.0,2021.0,Inactive,540000,2024-01-12T00:00:00.000Z,2024-04-06T00:00:00.000Z,2023-12-31T00:00:00.000Z,2024-04-05T00:00:00.000Z,85.0

In [4]:
df.keys()

Index(['id', 'formattedAddress', 'addressLine1', 'addressLine2', 'city',
       'state', 'zipCode', 'county', 'latitude', 'longitude', 'propertyType',
       'bedrooms', 'bathrooms', 'squareFootage', 'lotSize', 'yearBuilt',
       'status', 'price', 'listedDate', 'removedDate', 'createdDate',
       'lastSeenDate', 'daysOnMarket'],
      dtype='object')

In [5]:
df['propertyType'].unique()

array(['Single Family', 'Townhouse', 'Condo', 'Land', 'Manufactured',
       'Multi-Family', 'Apartment', nan, '2.0', '3.0', '5.0', '7.0',
       '6.0', '4.0', '0.0', '10.0', '1.0', '8.0', '12.0'], dtype=object)

In [6]:
dropped = df.drop(columns=['id', 'formattedAddress', 'addressLine1', 'addressLine2', 'city',
       'state', 'zipCode', 'latitude', 'longitude', 'listedDate', 'removedDate', 'createdDate', 'daysOnMarket', 'lastSeenDate', 'status'])

In [7]:
# if dropped['propertyType'] == ['Apartment','Manufactured',
#        'Multi-Family','Land', 'nan', '2.0', '3.0', '5.0', '7.0',
#        '6.0', '4.0', '0.0', '10.0', '1.0', '8.0', '12.0']:

In [8]:
my_conditions = ['Apartment','Manufactured',
       'Multi-Family','Land', 'nan', '2.0', '3.0', '5.0', '7.0',
       '6.0', '4.0', '0.0', '10.0', '1.0', '8.0', '12.0', 'Inactive']

In [9]:
dropped_cleaned = dropped[~dropped['propertyType'].isin(my_conditions)]
# dropped_cleaned = dropped_cleaned[dropped_cleaned["lotSize"] != "Inactive"]
dropped_cleaned = dropped_cleaned[dropped_cleaned["squareFootage"] != "Inactive"]
dropped_cleaned = dropped_cleaned[dropped_cleaned["bedrooms"] != "Inactive"]
dropped_cleaned = dropped_cleaned[dropped_cleaned["bathrooms"] != "Inactive"]
dropped_cleaned["lotSize"] = dropped_cleaned["lotSize"].astype(str)


dropped_cleaned = dropped_cleaned[dropped_cleaned["lotSize"].str.len().between(0, 8)]
dropped_cleaned = dropped_cleaned.dropna()
dropped_cleaned

,county,propertyType,bedrooms,bathrooms,squareFootage,lotSize,yearBuilt,price
0,Davis,Single Family,2.0,1.0,862.0,4792.0,1941.0,360000
1,Weber,Single Family,3.0,1.0,1750.0,4792.0,1941.0,314999
2,Summit,Townhouse,3.0,3.5,2082.0,nan,2025.0,2790000
3,Summit,Townhouse,3.0,4.0,2533.0,nan,2025.0,3190000
4,Iron,Single Family,5.0,4.0,3000.0,21780.0,2021.0,540000
...,...,...,...,...,...,...,...,...
181793,Carbon County,Single Family,2.0,1.0,878.0,Inactive,79000,2022-08-07T20:12:08.717Z
181794,Carbon County,Condo,4.0,2.5,2336.0,Inactive,155000,2022-08-07T20:12:08.717Z
181795,Salt Lake County,Condo,2.0,1.0,800.0,Inactive,164900,2022-08-07T20:12:08.717Z
181796,Summit County,Single Family,5.0,3.0,2304.0,Inactive,375000,2022-08-07T20:12:08.717Z
181797,Salt Lake County,Condo,2.0,1.0,803.0,Inactive,115000,2022-08-07T20:12:08.717Z

In [10]:
dropped_cleaned['propertyType'].unique()

array(['Single Family', 'Townhouse', 'Condo'], dtype=object)

In [11]:
#Bedrooms more than 10
#Bathrooms more than 8 and half
#Square feet more than 20000
#year built greater than 2024 get rid of it
#price under 15K

In [12]:
dropped_cleaned['county'].unique()

array(['Davis', 'Weber', 'Summit', 'Iron', 'Utah', 'Salt Lake',
       'Washington', 'Tooele', 'Beaver', 'Cache', 'Wasatch', 'Kane',
       'Box Elder', 'Uintah', 'Rich', 'Carbon', 'Juab', 'Duchesne',
       'Grand', 'Millard', 'Sevier', 'San Juan', 'Wayne', 'Morgan',
       'Emery', 'Garfield', 'Sanpete', 'Piute', 'Daggett', 'Utah County',
       'Iron County', 'Carbon County', 'Salt Lake County', 'Cache County',
       'Weber County', 'Davis County', 'Washington County',
       'Sevier County', 'Tooele County', 'Summit County', 'Beaver County',
       'Piute County', 'Wasatch County', 'Grand County', 'Emery County',
       'Box Elder County', 'Uintah County', 'Millard County',
       'Sanpete County', 'Duchesne County', 'Garfield County',
       'Rich County', 'Kane County', 'Wayne County', 'Juab County',
       'Morgan County', 'San Juan County', 'Daggett County'], dtype=object)

In [13]:
dropped_cleaned["bedrooms"] = pd.to_numeric(dropped_cleaned["bedrooms"], errors='coerce').fillna(0).astype(int)

In [14]:
dropped_cleaned["squareFootage"] = pd.to_numeric(dropped_cleaned["squareFootage"], errors='coerce').fillna(0).astype(int)

In [15]:
dropped_cleaned["lotSize"] = pd.to_numeric(dropped_cleaned["lotSize"], errors='coerce').fillna(0).astype(int)

In [16]:
dropped_cleaned["yearBuilt"] = pd.to_numeric(dropped_cleaned["yearBuilt"], errors='coerce').fillna(0).astype(int)

In [17]:
dropped_cleaned["price"] = pd.to_numeric(dropped_cleaned["price"], errors='coerce').fillna(0).astype(int)

In [18]:
dropped_cleaned['bathrooms'] = dropped_cleaned['bathrooms'].astype(float)

In [19]:
#dropped_cleaned = pd.DataFrame(data)

In [20]:
encoder = LabelEncoder()
dropped_cleaned['county'] = encoder.fit_transform(dropped_cleaned['county'])

In [21]:
encoder = LabelEncoder()
dropped_cleaned['propertyType'] = encoder.fit_transform(dropped_cleaned['propertyType'])

In [22]:
print(dropped_cleaned)

        county  propertyType  bedrooms  bathrooms  squareFootage  lotSize  \
0           10             1         2        1.0            862     4792
1           56             1         3        1.0           1750     4792
2           42             2         3        3.5           2082        0
3           42             2         3        4.0           2533        0
4           20             1         5        4.0           3000    21780
...        ...           ...       ...        ...            ...      ...
181793       7             1         2        1.0            878        0
181794       7             0         4        2.5           2336        0
181795      35             0         2        1.0            800        0
181796      43             1         5        3.0           2304        0
181797      35             0         2        1.0            803        0

        yearBuilt    price
0            1941   360000
1            1941   314999
2            2025  2790000
3            2025  3190000
4            2021   540000
...           ...      ...
181793      79000        0
181794     155000        0
181795     164900        0
181796     375000        0
181797     115000        0

[131367 rows x 8 columns]

In [23]:
dropped_cleaned.dtypes

county             int32
propertyType       int32
bedrooms           int32
bathrooms        float64
squareFootage      int32
lotSize            int32
yearBuilt          int32
price              int32
dtype: object

In [24]:
dropped_cleaned = dropped_cleaned[dropped_cleaned['bedrooms'] <= 10]

In [25]:
print(dropped_cleaned)

        county  propertyType  bedrooms  bathrooms  squareFootage  lotSize  \
0           10             1         2        1.0            862     4792
1           56             1         3        1.0           1750     4792
2           42             2         3        3.5           2082        0
3           42             2         3        4.0           2533        0
4           20             1         5        4.0           3000    21780
...        ...           ...       ...        ...            ...      ...
181793       7             1         2        1.0            878        0
181794       7             0         4        2.5           2336        0
181795      35             0         2        1.0            800        0
181796      43             1         5        3.0           2304        0
181797      35             0         2        1.0            803        0

        yearBuilt    price
0            1941   360000
1            1941   314999
2            2025  2790000
3            2025  3190000
4            2021   540000
...           ...      ...
181793      79000        0
181794     155000        0
181795     164900        0
181796     375000        0
181797     115000        0

[130983 rows x 8 columns]

In [26]:
dropped_cleaned = dropped_cleaned[dropped_cleaned['bathrooms'] <= 8.5]

In [27]:
print(dropped_cleaned)

        county  propertyType  bedrooms  bathrooms  squareFootage  lotSize  \
0           10             1         2        1.0            862     4792
1           56             1         3        1.0           1750     4792
2           42             2         3        3.5           2082        0
3           42             2         3        4.0           2533        0
4           20             1         5        4.0           3000    21780
...        ...           ...       ...        ...            ...      ...
181793       7             1         2        1.0            878        0
181794       7             0         4        2.5           2336        0
181795      35             0         2        1.0            800        0
181796      43             1         5        3.0           2304        0
181797      35             0         2        1.0            803        0

        yearBuilt    price
0            1941   360000
1            1941   314999
2            2025  2790000
3            2025  3190000
4            2021   540000
...           ...      ...
181793      79000        0
181794     155000        0
181795     164900        0
181796     375000        0
181797     115000        0

[130937 rows x 8 columns]

In [28]:
dropped_cleaned = dropped_cleaned[dropped_cleaned['squareFootage'] <=20000]

In [29]:
print(dropped_cleaned)

        county  propertyType  bedrooms  bathrooms  squareFootage  lotSize  \
0           10             1         2        1.0            862     4792
1           56             1         3        1.0           1750     4792
2           42             2         3        3.5           2082        0
3           42             2         3        4.0           2533        0
4           20             1         5        4.0           3000    21780
...        ...           ...       ...        ...            ...      ...
181793       7             1         2        1.0            878        0
181794       7             0         4        2.5           2336        0
181795      35             0         2        1.0            800        0
181796      43             1         5        3.0           2304        0
181797      35             0         2        1.0            803        0

        yearBuilt    price
0            1941   360000
1            1941   314999
2            2025  2790000
3            2025  3190000
4            2021   540000
...           ...      ...
181793      79000        0
181794     155000        0
181795     164900        0
181796     375000        0
181797     115000        0

[130934 rows x 8 columns]

In [30]:
dropped_cleaned = dropped_cleaned[dropped_cleaned['yearBuilt'] <=2024]

In [31]:
print(dropped_cleaned)

       county  propertyType  bedrooms  bathrooms  squareFootage  lotSize  \
0          10             1         2        1.0            862     4792
1          56             1         3        1.0           1750     4792
4          20             1         5        4.0           3000    21780
5          48             1         3        2.5           4448    11326
6          48             1         3        2.0           1050     4792
...       ...           ...       ...        ...            ...      ...
82530       5             1         4        3.0           2646    25265
82531      47             1         3        2.0           2028    19166
82532      47             1         4        2.0           1620    10454
82534      13             1         7        3.0           3194    16988
82535      21             0         2        2.0           1037     2178

       yearBuilt   price
0           1941  360000
1           1941  314999
4           2021  540000
5           2024  777400
6           1998  379900
...          ...     ...
82530       2020  650000
82531       2008  349000
82532       2008  240000
82534       2010  539999
82535       1985  255000

[58210 rows x 8 columns]

In [32]:
dropped_cleaned = dropped_cleaned[dropped_cleaned['price'] >= 15000]

In [33]:
print(dropped_cleaned)

       county  propertyType  bedrooms  bathrooms  squareFootage  lotSize  \
0          10             1         2        1.0            862     4792
1          56             1         3        1.0           1750     4792
4          20             1         5        4.0           3000    21780
5          48             1         3        2.5           4448    11326
6          48             1         3        2.0           1050     4792
...       ...           ...       ...        ...            ...      ...
82530       5             1         4        3.0           2646    25265
82531      47             1         3        2.0           2028    19166
82532      47             1         4        2.0           1620    10454
82534      13             1         7        3.0           3194    16988
82535      21             0         2        2.0           1037     2178

       yearBuilt   price
0           1941  360000
1           1941  314999
4           2021  540000
5           2024  777400
6           1998  379900
...          ...     ...
82530       2020  650000
82531       2008  349000
82532       2008  240000
82534       2010  539999
82535       1985  255000

[56505 rows x 8 columns]

In [34]:
dropped_cleaned.to_csv('Cleaned.csv',index = False)