In [1]:

import json
import requests
from dotenv import load_dotenv, find_dotenv
import os

load_dotenv(find_dotenv("local_keys.env"))

True

In [35]:
key = os.getenv("rentcast")

In [36]:
type(key)

str

In [37]:
# state = input(str("What state would you like to view?: ")).capitalize()
state = "Utah"

In [38]:
# zipcode = input("What zip code would you like to search for?: ")
zipcode = "84770"

In [39]:
# radius = input("How far would you like to view around that zip code in mile?: ")
radius = 25

In [40]:
url = f"https://api.rentcast.io/v1/listings/sale?city=St%20George&state=UT&limit=1"

headers = {
    "accept": "application/json",
    "X-Api-Key": key
}

response = requests.get(url, headers=headers)
responsedata = response.json()

#listings = pd.json_normalize(responsedata)

In [41]:
import pandas as pd
print(responsedata)
df = pd.DataFrame(responsedata)
df

[{'id': '150-N-3050-E,---54,-St-George,-UT-84790', 'formattedAddress': '150 N 3050 E, # 54, St George, UT 84790', 'addressLine1': '150 N 3050 E', 'addressLine2': '# 54', 'city': 'St George', 'state': 'UT', 'zipCode': '84790', 'county': 'Washington', 'latitude': 37.11042, 'longitude': -113.520127, 'propertyType': 'Land', 'lotSize': 2178, 'status': 'Inactive', 'price': 85000, 'listedDate': '2023-02-01T00:00:00.000Z', 'removedDate': '2023-05-23T00:00:00.000Z', 'createdDate': '2023-03-04T00:00:00.000Z', 'lastSeenDate': '2023-05-22T00:00:00.000Z', 'daysOnMarket': 111}]

,id,formattedAddress,addressLine1,addressLine2,city,state,zipCode,county,latitude,longitude,propertyType,lotSize,status,price,listedDate,removedDate,createdDate,lastSeenDate,daysOnMarket
0,"150-N-3050-E,---54,-St-George,-UT-84790","150 N 3050 E, # 54, St George, UT 84790",150 N 3050 E,# 54,St George,UT,84790,Washington,37.11042,-113.520127,Land,2178,Inactive,85000,2023-02-01T00:00:00.000Z,2023-05-23T00:00:00.000Z,2023-03-04T00:00:00.000Z,2023-05-22T00:00:00.000Z,111

In [42]:
records = []
for record in responsedata:
    if isinstance(record, dict):  # Ensure it's a dictionary
        records.append(record)
pd.DataFrame(records)

,id,formattedAddress,addressLine1,addressLine2,city,state,zipCode,county,latitude,longitude,propertyType,lotSize,status,price,listedDate,removedDate,createdDate,lastSeenDate,daysOnMarket
0,"150-N-3050-E,---54,-St-George,-UT-84790","150 N 3050 E, # 54, St George, UT 84790",150 N 3050 E,# 54,St George,UT,84790,Washington,37.11042,-113.520127,Land,2178,Inactive,85000,2023-02-01T00:00:00.000Z,2023-05-23T00:00:00.000Z,2023-03-04T00:00:00.000Z,2023-05-22T00:00:00.000Z,111

In [43]:
houses = []
for record in responsedata:
    if 'comparables' in record:
        for comparable in record['comparables']:
            print(comparable)
            houses.append(comparable)

In [51]:
# Initialize an empty list
houses = []

# Function to add a house to the list
def add_house(address, price):
    house = {
        'address': address,
        'price': price
    }
    houses.append(house)
    print(f"Added house: {house}")

# Function to display all houses
def display_houses():
    if not houses:
        print("No houses available.")
    else:
        print("List of houses:")
        for house in houses:
            print(f"Address: {house['address']}, Price: ${house['price']}")

# Example usage
add_house("123 Main St, St. George, UT", 350000)
add_house("456 Maple Ave, St. George, UT", 400000)

# Display the houses
display_houses()

Added house: {'address': '123 Main St, St. George, UT', 'price': 350000}
Added house: {'address': '456 Maple Ave, St. George, UT', 'price': 400000}
List of houses:
Address: 123 Main St, St. George, UT, Price: $350000
Address: 456 Maple Ave, St. George, UT, Price: $400000

In [53]:
for house in houses:
    if 'formattedAddress' in house:
        print(house['formattedAddress'])
    else:
        print("Address not available")

Address not available
Address not available

In [54]:
from datetime import datetime

In [57]:

original_df = pd.DataFrame(houses)

# List of columns to drop
columns_to_drop = ['id', 'formattedAddress', 'addressLine1', 'addressLine2', 'county', 'latitude', 'longitude', 'distance', 'correlation', 'listingType', 'listedDate', 'lastSeenDate', 'daysOld', 'propertyType', 'city', 'state', 'zipCode']

# Drop only the columns that exist in the DataFrame
x = original_df.drop(columns=[col for col in columns_to_drop if col in original_df.columns])

# x['listedDate'] = x['listedDate'].strftime('%Y-%m-%d')
x = x.dropna(subset=['removedDate'])
x = x.drop(columns=['removedDate', 'daysOnMarket'])
x

KeyError: ['removedDate']

In [59]:
if 'daysOnMarket' in original_df.columns:
	y = pd.DataFrame(original_df['daysOnMarket'])
else:
	y = pd.DataFrame()
	print("Column 'daysOnMarket' does not exist in the DataFrame.")
y

Column 'daysOnMarket' does not exist in the DataFrame.

Empty DataFrame
Columns: []
Index: []

In [ ]:
x.dtypes