In [1]:
import pandas as pd
import json
import requests
from dotenv import load_dotenv, find_dotenv
import os

load_dotenv(find_dotenv("local_keys.env"))

True

In [2]:
key = os.getenv("rentcast")

In [3]:
type(key)

str

In [15]:
url = "https://api.rentcast.io/v1/avm/value?address=5500%20Grand%20Lake%20Drive%2C%20San%20Antonio%2C%20TX%2C%2078244&propertyType=Single%20Family&bedrooms=4&bathrooms=2&squareFootage=1600&compCount=5"

headers = {
    "accept": "application/json",
    "X-Api-Key": key
}

response = requests.get(url, headers=headers)
responsedata = response.json()

#listings = pd.json_normalize(responsedata)

In [ ]:
print(responsedata)
df = pd.DataFrame(responsedata)

{'price': 225000, 'priceRangeLow': 205000, 'priceRangeHigh': 245000, 'latitude': 29.475962, 'longitude': -98.351442, 'comparables': [{'id': '5222-Cabin-Lake-Dr,-San-Antonio,-TX-78244', 'formattedAddress': '5222 Cabin Lake Dr, San Antonio, TX 78244', 'addressLine1': '5222 Cabin Lake Dr', 'addressLine2': None, 'city': 'San Antonio', 'state': 'TX', 'zipCode': '78244', 'county': 'Bexar', 'latitude': 29.47031, 'longitude': -98.352376, 'propertyType': 'Single Family', 'bedrooms': 4, 'bathrooms': 2, 'squareFootage': 1747, 'lotSize': 6882, 'yearBuilt': 1986, 'price': 199900, 'listingType': 'Standard', 'listedDate': '2024-10-14T00:00:00.000Z', 'removedDate': '2024-10-29T00:00:00.000Z', 'lastSeenDate': '2024-10-28T13:01:56.158Z', 'daysOnMarket': 15, 'distance': 0.395, 'daysOld': 30, 'correlation': 0.9808}, {'id': '6730-Stone-Lake-Dr,-San-Antonio,-TX-78244', 'formattedAddress': '6730 Stone Lake Dr, San Antonio, TX 78244', 'addressLine1': '6730 Stone Lake Dr', 'addressLine2': None, 'city': 'San Antonio', 'state': 'TX', 'zipCode': '78244', 'county': 'Bexar', 'latitude': 29.477216, 'longitude': -98.355968, 'propertyType': 'Single Family', 'bedrooms': 4, 'bathrooms': 2, 'squareFootage': 1810, 'lotSize': 8146, 'yearBuilt': 1977, 'price': 215000, 'listedDate': '2024-06-14T00:00:00.000Z', 'removedDate': '2024-07-19T00:00:00.000Z', 'lastSeenDate': '2024-07-18T13:09:59.576Z', 'daysOnMarket': 35, 'distance': 0.286, 'daysOld': 132, 'correlation': 0.978}, {'id': '6162-Brandys-Farm,-San-Antonio,-TX-78244', 'formattedAddress': '6162 Brandys Farm, San Antonio, TX 78244', 'addressLine1': '6162 Brandys Farm', 'addressLine2': None, 'city': 'San Antonio', 'state': 'TX', 'zipCode': '78244', 'county': 'Bexar', 'latitude': 29.469905, 'longitude': -98.366161, 'propertyType': 'Single Family', 'bedrooms': 4, 'bathrooms': 2, 'squareFootage': 1646, 'lotSize': 5489, 'yearBuilt': 2003, 'price': 240000, 'listingType': 'Standard', 'listedDate': '2024-07-19T00:00:00.000Z', 'removedDate': None, 'lastSeenDate': '2024-11-26T13:45:05.200Z', 'daysOnMarket': 131, 'distance': 0.9804, 'daysOld': 1, 'correlation': 0.9779}, {'id': '6826-Slaton-Flds,-Converse,-TX-78109', 'formattedAddress': '6826 Slaton Flds, Converse, TX 78109', 'addressLine1': '6826 Slaton Flds', 'addressLine2': None, 'city': 'Converse', 'state': 'TX', 'zipCode': '78109', 'county': 'Bexar', 'latitude': 29.45925, 'longitude': -98.353568, 'propertyType': 'Single Family', 'bedrooms': 4, 'bathrooms': 2, 'squareFootage': 1688, 'lotSize': 6011, 'yearBuilt': 2018, 'price': 260000, 'listingType': 'Standard', 'listedDate': '2024-06-25T00:00:00.000Z', 'removedDate': '2024-08-27T00:00:00.000Z', 'lastSeenDate': '2024-08-26T13:30:50.512Z', 'daysOnMarket': 63, 'distance': 1.163, 'daysOld': 93, 'correlation': 0.9707}, {'id': '4702-Juniper-Farm,-San-Antonio,-TX-78244', 'formattedAddress': '4702 Juniper Farm, San Antonio, TX 78244', 'addressLine1': '4702 Juniper Farm', 'addressLine2': None, 'city': 'San Antonio', 'state': 'TX', 'zipCode': '78244', 'county': 'Bexar', 'latitude': 29.470026, 'longitude': -98.363753, 'propertyType': 'Single Family', 'bedrooms': 4, 'bathrooms': 2, 'squareFootage': 1445, 'lotSize': 6142, 'yearBuilt': 2001, 'price': 210000, 'listingType': 'Standard', 'listedDate': '2024-09-22T00:00:00.000Z', 'removedDate': '2024-10-23T00:00:00.000Z', 'lastSeenDate': '2024-10-22T13:08:39.293Z', 'daysOnMarket': 31, 'distance': 0.8475, 'daysOld': 36, 'correlation': 0.9706}]}

,price,priceRangeLow,priceRangeHigh,latitude,longitude,comparables
0,225000,205000,245000,29.475962,-98.351442,"{'id': '5222-Cabin-Lake-Dr,-San-Antonio,-TX-78..."
1,225000,205000,245000,29.475962,-98.351442,"{'id': '6730-Stone-Lake-Dr,-San-Antonio,-TX-78..."
2,225000,205000,245000,29.475962,-98.351442,"{'id': '6162-Brandys-Farm,-San-Antonio,-TX-782..."
3,225000,205000,245000,29.475962,-98.351442,"{'id': '6826-Slaton-Flds,-Converse,-TX-78109',..."
4,225000,205000,245000,29.475962,-98.351442,"{'id': '4702-Juniper-Farm,-San-Antonio,-TX-782..."

In [37]:
records = []
for key, value in responsedata.items():
    record = {}
    if key == 'comparables':
        print(value)
        for comparable in value:
            for ix, v in comparable.items():
                record[ix] = v
            # record[] = comparable

    record[key] = value
    records.append(record)
pd.DataFrame(records)

[{'id': '5222-Cabin-Lake-Dr,-San-Antonio,-TX-78244', 'formattedAddress': '5222 Cabin Lake Dr, San Antonio, TX 78244', 'addressLine1': '5222 Cabin Lake Dr', 'addressLine2': None, 'city': 'San Antonio', 'state': 'TX', 'zipCode': '78244', 'county': 'Bexar', 'latitude': 29.47031, 'longitude': -98.352376, 'propertyType': 'Single Family', 'bedrooms': 4, 'bathrooms': 2, 'squareFootage': 1747, 'lotSize': 6882, 'yearBuilt': 1986, 'price': 199900, 'listingType': 'Standard', 'listedDate': '2024-10-14T00:00:00.000Z', 'removedDate': '2024-10-29T00:00:00.000Z', 'lastSeenDate': '2024-10-28T13:01:56.158Z', 'daysOnMarket': 15, 'distance': 0.395, 'daysOld': 30, 'correlation': 0.9808}, {'id': '6730-Stone-Lake-Dr,-San-Antonio,-TX-78244', 'formattedAddress': '6730 Stone Lake Dr, San Antonio, TX 78244', 'addressLine1': '6730 Stone Lake Dr', 'addressLine2': None, 'city': 'San Antonio', 'state': 'TX', 'zipCode': '78244', 'county': 'Bexar', 'latitude': 29.477216, 'longitude': -98.355968, 'propertyType': 'Single Family', 'bedrooms': 4, 'bathrooms': 2, 'squareFootage': 1810, 'lotSize': 8146, 'yearBuilt': 1977, 'price': 215000, 'listedDate': '2024-06-14T00:00:00.000Z', 'removedDate': '2024-07-19T00:00:00.000Z', 'lastSeenDate': '2024-07-18T13:09:59.576Z', 'daysOnMarket': 35, 'distance': 0.286, 'daysOld': 132, 'correlation': 0.978}, {'id': '6162-Brandys-Farm,-San-Antonio,-TX-78244', 'formattedAddress': '6162 Brandys Farm, San Antonio, TX 78244', 'addressLine1': '6162 Brandys Farm', 'addressLine2': None, 'city': 'San Antonio', 'state': 'TX', 'zipCode': '78244', 'county': 'Bexar', 'latitude': 29.469905, 'longitude': -98.366161, 'propertyType': 'Single Family', 'bedrooms': 4, 'bathrooms': 2, 'squareFootage': 1646, 'lotSize': 5489, 'yearBuilt': 2003, 'price': 240000, 'listingType': 'Standard', 'listedDate': '2024-07-19T00:00:00.000Z', 'removedDate': None, 'lastSeenDate': '2024-11-26T13:45:05.200Z', 'daysOnMarket': 131, 'distance': 0.9804, 'daysOld': 1, 'correlation': 0.9779}, {'id': '6826-Slaton-Flds,-Converse,-TX-78109', 'formattedAddress': '6826 Slaton Flds, Converse, TX 78109', 'addressLine1': '6826 Slaton Flds', 'addressLine2': None, 'city': 'Converse', 'state': 'TX', 'zipCode': '78109', 'county': 'Bexar', 'latitude': 29.45925, 'longitude': -98.353568, 'propertyType': 'Single Family', 'bedrooms': 4, 'bathrooms': 2, 'squareFootage': 1688, 'lotSize': 6011, 'yearBuilt': 2018, 'price': 260000, 'listingType': 'Standard', 'listedDate': '2024-06-25T00:00:00.000Z', 'removedDate': '2024-08-27T00:00:00.000Z', 'lastSeenDate': '2024-08-26T13:30:50.512Z', 'daysOnMarket': 63, 'distance': 1.163, 'daysOld': 93, 'correlation': 0.9707}, {'id': '4702-Juniper-Farm,-San-Antonio,-TX-78244', 'formattedAddress': '4702 Juniper Farm, San Antonio, TX 78244', 'addressLine1': '4702 Juniper Farm', 'addressLine2': None, 'city': 'San Antonio', 'state': 'TX', 'zipCode': '78244', 'county': 'Bexar', 'latitude': 29.470026, 'longitude': -98.363753, 'propertyType': 'Single Family', 'bedrooms': 4, 'bathrooms': 2, 'squareFootage': 1445, 'lotSize': 6142, 'yearBuilt': 2001, 'price': 210000, 'listingType': 'Standard', 'listedDate': '2024-09-22T00:00:00.000Z', 'removedDate': '2024-10-23T00:00:00.000Z', 'lastSeenDate': '2024-10-22T13:08:39.293Z', 'daysOnMarket': 31, 'distance': 0.8475, 'daysOld': 36, 'correlation': 0.9706}]

,price,priceRangeLow,priceRangeHigh,latitude,longitude,id,formattedAddress,addressLine1,addressLine2,city,...,yearBuilt,listingType,listedDate,removedDate,lastSeenDate,daysOnMarket,distance,daysOld,correlation,comparables
0,225000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,205000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,245000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,29.475962,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,-98.351442,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,210000.0,NaN,NaN,29.470026,-98.363753,"4702-Juniper-Farm,-San-Antonio,-TX-78244","4702 Juniper Farm, San Antonio, TX 78244",4702 Juniper Farm,NaN,San Antonio,...,2001.0,Standard,2024-09-22T00:00:00.000Z,2024-10-23T00:00:00.000Z,2024-10-22T13:08:39.293Z,31.0,0.8475,36.0,0.9706,"[{'id': '5222-Cabin-Lake-Dr,-San-Antonio,-TX-7..."

In [25]:
houses = []
for record in responsedata['comparables']:
    print(record)
    houses.append(record)

{'id': '5222-Cabin-Lake-Dr,-San-Antonio,-TX-78244', 'formattedAddress': '5222 Cabin Lake Dr, San Antonio, TX 78244', 'addressLine1': '5222 Cabin Lake Dr', 'addressLine2': None, 'city': 'San Antonio', 'state': 'TX', 'zipCode': '78244', 'county': 'Bexar', 'latitude': 29.47031, 'longitude': -98.352376, 'propertyType': 'Single Family', 'bedrooms': 4, 'bathrooms': 2, 'squareFootage': 1747, 'lotSize': 6882, 'yearBuilt': 1986, 'price': 199900, 'listingType': 'Standard', 'listedDate': '2024-10-14T00:00:00.000Z', 'removedDate': '2024-10-29T00:00:00.000Z', 'lastSeenDate': '2024-10-28T13:01:56.158Z', 'daysOnMarket': 15, 'distance': 0.395, 'daysOld': 30, 'correlation': 0.9808}
{'id': '6730-Stone-Lake-Dr,-San-Antonio,-TX-78244', 'formattedAddress': '6730 Stone Lake Dr, San Antonio, TX 78244', 'addressLine1': '6730 Stone Lake Dr', 'addressLine2': None, 'city': 'San Antonio', 'state': 'TX', 'zipCode': '78244', 'county': 'Bexar', 'latitude': 29.477216, 'longitude': -98.355968, 'propertyType': 'Single Family', 'bedrooms': 4, 'bathrooms': 2, 'squareFootage': 1810, 'lotSize': 8146, 'yearBuilt': 1977, 'price': 215000, 'listedDate': '2024-06-14T00:00:00.000Z', 'removedDate': '2024-07-19T00:00:00.000Z', 'lastSeenDate': '2024-07-18T13:09:59.576Z', 'daysOnMarket': 35, 'distance': 0.286, 'daysOld': 132, 'correlation': 0.978}
{'id': '6162-Brandys-Farm,-San-Antonio,-TX-78244', 'formattedAddress': '6162 Brandys Farm, San Antonio, TX 78244', 'addressLine1': '6162 Brandys Farm', 'addressLine2': None, 'city': 'San Antonio', 'state': 'TX', 'zipCode': '78244', 'county': 'Bexar', 'latitude': 29.469905, 'longitude': -98.366161, 'propertyType': 'Single Family', 'bedrooms': 4, 'bathrooms': 2, 'squareFootage': 1646, 'lotSize': 5489, 'yearBuilt': 2003, 'price': 240000, 'listingType': 'Standard', 'listedDate': '2024-07-19T00:00:00.000Z', 'removedDate': None, 'lastSeenDate': '2024-11-26T13:45:05.200Z', 'daysOnMarket': 131, 'distance': 0.9804, 'daysOld': 1, 'correlation': 0.9779}
{'id': '6826-Slaton-Flds,-Converse,-TX-78109', 'formattedAddress': '6826 Slaton Flds, Converse, TX 78109', 'addressLine1': '6826 Slaton Flds', 'addressLine2': None, 'city': 'Converse', 'state': 'TX', 'zipCode': '78109', 'county': 'Bexar', 'latitude': 29.45925, 'longitude': -98.353568, 'propertyType': 'Single Family', 'bedrooms': 4, 'bathrooms': 2, 'squareFootage': 1688, 'lotSize': 6011, 'yearBuilt': 2018, 'price': 260000, 'listingType': 'Standard', 'listedDate': '2024-06-25T00:00:00.000Z', 'removedDate': '2024-08-27T00:00:00.000Z', 'lastSeenDate': '2024-08-26T13:30:50.512Z', 'daysOnMarket': 63, 'distance': 1.163, 'daysOld': 93, 'correlation': 0.9707}
{'id': '4702-Juniper-Farm,-San-Antonio,-TX-78244', 'formattedAddress': '4702 Juniper Farm, San Antonio, TX 78244', 'addressLine1': '4702 Juniper Farm', 'addressLine2': None, 'city': 'San Antonio', 'state': 'TX', 'zipCode': '78244', 'county': 'Bexar', 'latitude': 29.470026, 'longitude': -98.363753, 'propertyType': 'Single Family', 'bedrooms': 4, 'bathrooms': 2, 'squareFootage': 1445, 'lotSize': 6142, 'yearBuilt': 2001, 'price': 210000, 'listingType': 'Standard', 'listedDate': '2024-09-22T00:00:00.000Z', 'removedDate': '2024-10-23T00:00:00.000Z', 'lastSeenDate': '2024-10-22T13:08:39.293Z', 'daysOnMarket': 31, 'distance': 0.8475, 'daysOld': 36, 'correlation': 0.9706}

In [26]:
houses[0].keys()

dict_keys(['id', 'formattedAddress', 'addressLine1', 'addressLine2', 'city', 'state', 'zipCode', 'county', 'latitude', 'longitude', 'propertyType', 'bedrooms', 'bathrooms', 'squareFootage', 'lotSize', 'yearBuilt', 'price', 'listingType', 'listedDate', 'removedDate', 'lastSeenDate', 'daysOnMarket', 'distance', 'daysOld', 'correlation'])

In [27]:
for house in houses:
    print(house['formattedAddress'])

5222 Cabin Lake Dr, San Antonio, TX 78244
6730 Stone Lake Dr, San Antonio, TX 78244
6162 Brandys Farm, San Antonio, TX 78244
6826 Slaton Flds, Converse, TX 78109
4702 Juniper Farm, San Antonio, TX 78244

In [28]:
pd.DataFrame(houses)

,id,formattedAddress,addressLine1,addressLine2,city,state,zipCode,county,latitude,longitude,...,yearBuilt,price,listingType,listedDate,removedDate,lastSeenDate,daysOnMarket,distance,daysOld,correlation
0,"5222-Cabin-Lake-Dr,-San-Antonio,-TX-78244","5222 Cabin Lake Dr, San Antonio, TX 78244",5222 Cabin Lake Dr,None,San Antonio,TX,78244,Bexar,29.470310,-98.352376,...,1986,199900,Standard,2024-10-14T00:00:00.000Z,2024-10-29T00:00:00.000Z,2024-10-28T13:01:56.158Z,15,0.3950,30,0.9808
1,"6730-Stone-Lake-Dr,-San-Antonio,-TX-78244","6730 Stone Lake Dr, San Antonio, TX 78244",6730 Stone Lake Dr,None,San Antonio,TX,78244,Bexar,29.477216,-98.355968,...,1977,215000,NaN,2024-06-14T00:00:00.000Z,2024-07-19T00:00:00.000Z,2024-07-18T13:09:59.576Z,35,0.2860,132,0.9780
2,"6162-Brandys-Farm,-San-Antonio,-TX-78244","6162 Brandys Farm, San Antonio, TX 78244",6162 Brandys Farm,None,San Antonio,TX,78244,Bexar,29.469905,-98.366161,...,2003,240000,Standard,2024-07-19T00:00:00.000Z,None,2024-11-26T13:45:05.200Z,131,0.9804,1,0.9779
3,"6826-Slaton-Flds,-Converse,-TX-78109","6826 Slaton Flds, Converse, TX 78109",6826 Slaton Flds,None,Converse,TX,78109,Bexar,29.459250,-98.353568,...,2018,260000,Standard,2024-06-25T00:00:00.000Z,2024-08-27T00:00:00.000Z,2024-08-26T13:30:50.512Z,63,1.1630,93,0.9707
4,"4702-Juniper-Farm,-San-Antonio,-TX-78244","4702 Juniper Farm, San Antonio, TX 78244",4702 Juniper Farm,None,San Antonio,TX,78244,Bexar,29.470026,-98.363753,...,2001,210000,Standard,2024-09-22T00:00:00.000Z,2024-10-23T00:00:00.000Z,2024-10-22T13:08:39.293Z,31,0.8475,36,0.9706

,price,priceRangeLow,priceRangeHigh,latitude,longitude,comparables
0,225000,205000,245000,29.475962,-98.351442,"{'id': '5222-Cabin-Lake-Dr,-San-Antonio,-TX-78..."
1,225000,205000,245000,29.475962,-98.351442,"{'id': '6730-Stone-Lake-Dr,-San-Antonio,-TX-78..."
2,225000,205000,245000,29.475962,-98.351442,"{'id': '6162-Brandys-Farm,-San-Antonio,-TX-782..."
3,225000,205000,245000,29.475962,-98.351442,"{'id': '6826-Slaton-Flds,-Converse,-TX-78109',..."
4,225000,205000,245000,29.475962,-98.351442,"{'id': '4702-Juniper-Farm,-San-Antonio,-TX-782..."

,price,priceRangeLow,priceRangeHigh,latitude,longitude,comparables
0,225000,205000,245000,29.475962,-98.351442,"[{'id': '5222-Cabin-Lake-Dr,-San-Antonio,-TX-7..."

,price,priceRangeLow,priceRangeHigh,latitude,longitude,comparables
0,225000,205000,245000,29.475962,-98.351442,"{'id': '5222-Cabin-Lake-Dr,-San-Antonio,-TX-78..."
0,225000,205000,245000,29.475962,-98.351442,"{'id': '6730-Stone-Lake-Dr,-San-Antonio,-TX-78..."
0,225000,205000,245000,29.475962,-98.351442,"{'id': '6162-Brandys-Farm,-San-Antonio,-TX-782..."
0,225000,205000,245000,29.475962,-98.351442,"{'id': '6826-Slaton-Flds,-Converse,-TX-78109',..."
0,225000,205000,245000,29.475962,-98.351442,"{'id': '4702-Juniper-Farm,-San-Antonio,-TX-782..."

0    {'id': '5222-Cabin-Lake-Dr,-San-Antonio,-TX-78...
0    {'id': '6730-Stone-Lake-Dr,-San-Antonio,-TX-78...
0    {'id': '6162-Brandys-Farm,-San-Antonio,-TX-782...
0    {'id': '6826-Slaton-Flds,-Converse,-TX-78109',...
0    {'id': '4702-Juniper-Farm,-San-Antonio,-TX-782...
Name: comparables, dtype: object