In [231]:
import pandas as pd
import numpy as np
file = pd.read_csv('utah_sales_20241203_201859.csv')
df = pd.DataFrame(file)

C:\Users\jpdav\AppData\Local\Temp\ipykernel_16528\1727519989.py:3: DtypeWarning: Columns (11,12,13,20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  file = pd.read_csv('utah_sales_20241203_201859.csv')

In [232]:
df.head()

,id,formattedAddress,addressLine1,addressLine2,city,state,zipCode,county,latitude,longitude,...,squareFootage,lotSize,yearBuilt,status,price,listedDate,removedDate,createdDate,lastSeenDate,daysOnMarket
0,"231-S-Virginia-St,-Kaysville,-UT-84037","231 S Virginia St, Kaysville, UT 84037",231 S Virginia St,NaN,Kaysville,UT,84037,Davis,41.031291,-111.934739,...,862.0,4792.0,1941.0,Inactive,360000,2024-01-05T00:00:00.000Z,2024-04-06T00:00:00.000Z,2023-12-08T00:00:00.000Z,2024-04-05T00:00:00.000Z,92.0
1,"3157-Monroe-Blvd,-Ogden,-UT-84403","3157 Monroe Blvd, Ogden, UT 84403",3157 Monroe Blvd,NaN,Ogden,UT,84403,Weber,41.206655,-111.959974,...,1750.0,4792.0,1941.0,Inactive,314999,2024-01-05T00:00:00.000Z,2024-04-06T00:00:00.000Z,2024-01-06T00:00:00.000Z,2024-04-05T00:00:00.000Z,92.0
2,"1988-Stone-Creek-Rd,-Unit-19,-Park-City,-UT-84098","1988 Stone Creek Rd, Unit 19, Park City, UT 84098",1988 Stone Creek Rd,Unit 19,Park City,UT,84098,Summit,40.683172,-111.549270,...,2082.0,NaN,2025.0,Inactive,2790000,2024-01-10T00:00:00.000Z,2024-04-06T00:00:00.000Z,2022-07-27T14:22:11.749Z,2024-04-05T00:00:00.000Z,87.0
3,"1990-Stone-Creek-Rd,-Unit-20,-Park-City,-UT-84098","1990 Stone Creek Rd, Unit 20, Park City, UT 84098",1990 Stone Creek Rd,Unit 20,Park City,UT,84098,Summit,40.683081,-111.549202,...,2533.0,NaN,2025.0,Inactive,3190000,2024-01-10T00:00:00.000Z,2024-04-06T00:00:00.000Z,2022-07-27T14:24:30.407Z,2024-04-05T00:00:00.000Z,87.0
4,"4398-N-2525-W,-Cedar-City,-UT-84721","4398 N 2525 W, Cedar City, UT 84721",4398 N 2525 W,NaN,Cedar City,UT,84721,Iron,37.757465,-113.097258,...,3000.0,21780.0,2021.0,Inactive,540000,2024-01-12T00:00:00.000Z,2024-04-06T00:00:00.000Z,2023-12-31T00:00:00.000Z,2024-04-05T00:00:00.000Z,85.0

In [233]:
df.keys()

Index(['id', 'formattedAddress', 'addressLine1', 'addressLine2', 'city',
       'state', 'zipCode', 'county', 'latitude', 'longitude', 'propertyType',
       'bedrooms', 'bathrooms', 'squareFootage', 'lotSize', 'yearBuilt',
       'status', 'price', 'listedDate', 'removedDate', 'createdDate',
       'lastSeenDate', 'daysOnMarket'],
      dtype='object')

In [234]:
df['propertyType'].unique()

array(['Single Family', 'Townhouse', 'Condo', 'Land', 'Manufactured',
       'Multi-Family', 'Apartment', nan, '2.0', '3.0', '5.0', '7.0',
       '6.0', '4.0', '0.0', '10.0', '1.0', '8.0', '12.0'], dtype=object)

In [235]:
dropped = df.drop(columns=['id', 'formattedAddress', 'addressLine1', 'addressLine2', 'city',
       'state', 'zipCode', 'latitude', 'longitude', 'listedDate', 'removedDate', 'createdDate', 'daysOnMarket', 'lastSeenDate', 'status'])

In [236]:
# if dropped['propertyType'] == ['Apartment','Manufactured',
#        'Multi-Family','Land', 'nan', '2.0', '3.0', '5.0', '7.0',
#        '6.0', '4.0', '0.0', '10.0', '1.0', '8.0', '12.0']:

In [237]:
my_conditions = ['Apartment','Manufactured',
       'Multi-Family','Land', 'nan', '2.0', '3.0', '5.0', '7.0',
       '6.0', '4.0', '0.0', '10.0', '1.0', '8.0', '12.0', 'Inactive']

In [238]:
dropped_cleaned = dropped[~dropped['propertyType'].isin(my_conditions)]
# dropped_cleaned = dropped_cleaned[dropped_cleaned["lotSize"] != "Inactive"]
dropped_cleaned = dropped_cleaned[dropped_cleaned["squareFootage"] != "Inactive"]
dropped_cleaned = dropped_cleaned[dropped_cleaned["bedrooms"] != "Inactive"]
dropped_cleaned = dropped_cleaned[dropped_cleaned["bathrooms"] != "Inactive"]
dropped_cleaned["lotSize"] = dropped_cleaned["lotSize"].astype(str)


dropped_cleaned = dropped_cleaned[dropped_cleaned["lotSize"].str.len().between(0, 8)]
dropped_cleaned = dropped_cleaned.dropna()
dropped_cleaned

,county,propertyType,bedrooms,bathrooms,squareFootage,lotSize,yearBuilt,price
0,Davis,Single Family,2.0,1.0,862.0,4792.0,1941.0,360000
1,Weber,Single Family,3.0,1.0,1750.0,4792.0,1941.0,314999
2,Summit,Townhouse,3.0,3.5,2082.0,nan,2025.0,2790000
3,Summit,Townhouse,3.0,4.0,2533.0,nan,2025.0,3190000
4,Iron,Single Family,5.0,4.0,3000.0,21780.0,2021.0,540000
...,...,...,...,...,...,...,...,...
181793,Carbon County,Single Family,2.0,1.0,878.0,Inactive,79000,2022-08-07T20:12:08.717Z
181794,Carbon County,Condo,4.0,2.5,2336.0,Inactive,155000,2022-08-07T20:12:08.717Z
181795,Salt Lake County,Condo,2.0,1.0,800.0,Inactive,164900,2022-08-07T20:12:08.717Z
181796,Summit County,Single Family,5.0,3.0,2304.0,Inactive,375000,2022-08-07T20:12:08.717Z
181797,Salt Lake County,Condo,2.0,1.0,803.0,Inactive,115000,2022-08-07T20:12:08.717Z

In [239]:
dropped_cleaned['propertyType'].unique()

array(['Single Family', 'Townhouse', 'Condo'], dtype=object)

In [240]:
#Bedrooms more than 10
#Bathrooms more than 8 and half
#Square feet more than 20000
#year built greater than 2024 get rid of it
#price under 15K